<div>
    <h1>Bienvenido, {{user.name}}!</h1>
    {{#if isAdmin}}
        {{#each food}}
            <div>
                <h4>{{this.name}}</h4>
                <p>{{this.price}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No tienes permisos para ver la lista de alimentos</p>
    {{/if}}
</div>